package-lock.json
node_modules/
venv/
__pycache__/
fine_tuned_model
results
cached_*
newenv/
flask_session/
/BackEnd/model
/BackEnd/Feasibility/feasibility_fine_tuned_model
Backend2/.DS_Store
BackEnd/Restart
BackEnd/.DS_Store
Experiment 1 Data /.DS_Store
BackEnd/.DS_Store
.DS_Store
